.ename-ep{
    margin-bottom: 0;
    font-size: 72px;
}

@media (max-width: 1000px) {
    .ename-ep{
        font-size: 40px;
    }
  }


.container-ep{
    display: flex;  
    justify-self: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    flex-direction: column;
}
@media (max-width: 1000px) {
    .container-ep{
        width: 70% !important;
        height: auto;
        padding-bottom: 3%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
  }


.eventpage-avatar{
    width: 55px;
    height: 55px;
    border-radius: 10%;
    margin-right: 5px;
}

@media (max-width: 1000px) {
    .eventpage-avatar{
        width: 30px;
        height: 30px;
    }
  }


.imageEvent{
    height: auto;
    max-height: 40%;
    display: block;
    width: auto;
    max-width: 100%;
    object-fit: cover;
}

.header{
    display: flex;
    justify-self: center;
    align-content: center;
    margin: 0 auto;
    width: 95%;
    height: auto;
    flex-direction: column;

}

.invitedBy{
    margin: 0;
}

.ename-date{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 0;
    line-height: normal;
    height: auto;
    width: auto;
    padding-bottom: 0;
    border-bottom: 3px solid black ;
}

@media (max-width: 820px) {
    .ename-date{
        width: 100% !important;
        height: auto;
        flex-direction: column;
    }
  }

.ename-invited{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    padding-bottom: 3%;
}

.guests{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

@media(max-width:1000px){
    .guests{
        margin:0;
    }
}

.guest{
    font-size: 1.5em;
    margin: 0;
    display: flex;
}

.guest-div-ep{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: auto;
}

@media (max-width: 1000px) {
    .guest-div-ep{
        display: flex;
        flex-direction: row;
    }
  }

.attending{
    margin-bottom: 0;
    display: flex;
    margin-top: 0;
    padding-top:3%;
}

.secondary-container{
    height: 100%;
    display: flex;
}

@media (max-width: 1000px) {
    .secondary-container{
        width: 100% !important;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
  }




.left{
    width: 100%;
    padding-left: 1%;
    padding-top: 3%;
}

@media (max-width: 1000px) {
    .left{
        padding-left: 1%;
        width: 100% !important;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
  }


.right{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-right: 1%;
    padding-top: 3%;
}

@media (max-width: 1000px) {
    .right{
        display: flex;
        padding-right: 1%;
        width: 95% !important;
        height: auto;
        flex-direction: column;
        padding-left: 1%;
    }
  }

.currentSuggestions{
margin: 0;
height: auto;
min-height: 20%;
}

@media (max-width: 1000px) {
    .currentSuggestions{
        width: 100% !important;
        height: auto;
        flex-direction: column;
        margin: 0 auto;
        font-size: 2vw;
    }
  }

  @media (max-width: 1000px) {
    h1{
        font-size: 3vw;
    }
  }

  @media (max-width: 1000px) {
    h2{
        font-size: 4vw;
    }
  }

  @media (max-width: 1000px) {
    .guest{
        font-size: 4vw;
    }
  }


.suggestion{
    font-size: 1.5em;
    display: flex;
}

.suggestions{
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media (max-width: 1000px) {
    .suggestions{
        height: auto;
    }
  }



.individual-suggestion-div{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ranking{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
    height: auto;
}

@media (max-width: 1000px) {
    .ranking{
        height: auto;
        padding-top: 5%;
    }
  }


.venue{
    display: flex;
    width: 60%;
    font-size: 1.5em;
    align-self: center;
    font-weight: bold;
    margin: 0;
}

@media(max-width:1000px){
    .venue{
        font-size: 1em;
        align-self: flex-start;
    }
}

.votes{
    display: flex;
    width: 10%;
    font-size: 1.5em;
    align-self: center;
}

.vote-btn{
    display: flex;
    width: 10%;
    align-self: center;
}

.venue-vote-btn{
    display: flex;
    flex-direction: row;
    margin: 0;
    height: auto;
}

.current-ranking{
    margin-bottom: 0;
}

.date-eventpage{
    font-size: 1.3em;
    width: 100%;
    display: flex;
    justify-self: flex-end;
    margin: 0;
}

@media (max-width: 1000px) {
    .date-eventpage{
        width: auto;
        font-size: 4vw;
    }
  }

.attending-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2%;
}

.unlist-attending{
    margin-left: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    height: auto;
}

.top{
    margin: 0;
}

@media(max-width:1000px){
    .top{
        align-self: flex-start;
    }
}

.top-text{
    margin: 0;
}

@media (max-width: 1000px) {
    .ep-vote-btn{
        width: 50px;
        height: 30px;
        font-size: 1em;
    }
  }

  .ep-vote-btn{
    font-size: 1.2em;
    border-radius: 3%;
  }

  .attending-username{
    align-self: center;
    margin: 0;
    font-size: 1.8em;
  }

  @media (max-width: 1000px) {
    .attending-username{
        display: none;
    }
  }

.voting-process{
    padding-bottom: 3%;
    margin: 0;
    display: flex;
    align-self: center;
}

.we-have-winner{
    margin: 0;
}

.mainevent-winner{
    margin: 0;
}


