.ename{
    margin-bottom: 0;
}

.container{
    display: flex;  
    justify-self: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
}
@media (max-width: 820px) {
    .container{
        width: 70% !important;
        height: auto;
        padding-bottom: 3%;
        display: flex;
        justify-content: center;
    }
  }





.imageEvent{
    height: auto;
    max-height: 40%;
    display: block;
    width: auto;
    max-width: 100%;
    object-fit: cover;
}

.header{
    display: flex;
    justify-self: center;
    align-content: center;
    margin: 0 auto;
    width: 95%;
    height: 10%;
    flex-direction: column;
    margin-top: 40px;

}

.invitedBy{
    margin: 0;
}

.ename-date{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0;
    line-height: normal;
    height: auto;
    padding-bottom: 0;
}

@media (max-width: 820px) {
    .ename-date{
        width: 70% !important;
        height: auto;
        flex-direction: column;
    }
  }

.ename-invited{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
}

.guests{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.guest{
    font-size: 1.5em;
    margin: 0;
    display: flex;
}

.guest-div{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.attending{
    margin-right: 30px;
    margin-bottom: 0;
    display: flex;
}

.secondary-container{
    height: 100%;
    display: flex;
}

@media (max-width: 820px) {
    .secondary-container{
        width: 100% !important;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
  }




.left{
    width: 100%;
}

@media (max-width: 820px) {
    .left{
        width: 100% !important;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
  }


.right{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 820px) {
    .right{
        width: 95% !important;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 0 auto;

    }
  }

.currentSuggestions{
margin-bottom: 0;
}

@media (max-width: 820px) {
    .currentSuggestions{
        width: 95% !important;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        font-size: 4vw;
    }
  }

  @media (max-width: 820px) {
    h1{
        font-size: 4vw;
    }
  }

  @media (max-width: 820px) {
    h2{
        font-size: 4vw;
    }
  }

  @media (max-width: 820px) {
    .guest{
        font-size: 4vw;
    }
  }


.suggestion{
    font-size: 1.5em;
    display: flex;
}



.individual-suggestion-div{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ranking{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

.venue{
    display: flex;
    width: 50%;
    font-size: 1.5em;
    align-self: center;
}

.votes{
    display: flex;
    width: 10%;
    font-size: 1.5em;
    align-self: center;
}

.vote-btn{
    display: flex;
    width: 20%;
    align-self: center;
}

.venue-vote-btn{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.current-ranking{
    margin-bottom: 0;
}

.date-eventpage{
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.3em;
    width: 30%;
    display: flex;
    justify-self: flex-end;
}

@media (max-width: 800px) {
    .date-eventpage{
        width: auto;
        font-size: 4vw;
    }
  }

