.addfriend-container{
    display: flex;
    align-content: center;
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
}

.add-friend{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: auto;
}

.ind-friend{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 1.2em;
}

.friends-h1{
    text-align: center;
}

.manage-request{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.dropdown{
    width: 50%;
    border-radius: 5px;
    font-size: 1em;
}

.input-search{
    margin-bottom: 10px;
}

.ind-invitation{
    border: 1px solid;
    width: 120px;
    display: flex;
    flex-direction: row;
    padding: .2%;
    margin-right: 5px;
}

.pending{
    padding: 2% 0;
    text-align: center;
    margin-bottom: 0;
}

.ind-invitation-content{
    margin:0 auto;
    align-self: center;
    padding: 1.5%;
}

.accept-reject{
    display: flex;
    flex-direction: column;
    border-left: 1px solid;
    height: 100%;
}

.invitation-list{
    display: flex;
    flex-direction: row;
}

.add-friend-h2{
    text-align: center;
}

#input-search-id{
    font-size: 1.4em;
    border-radius: 5px;
}

p{
    font-size: 1.3em;
}

.addfriend-card{
    height: auto;
    width: auto;
    padding: 0 5%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
}

@media (max-width: 820px) {
    .addfriend-card{
        width: 70% !important;
        height: auto;
        padding-bottom: 3%;
    }
  }

  .main-container-addfriend{
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

