

.login-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

@media (max-width: 820px) {
    .login-container{
        width: 100% !important;
    }
  }

.logo{
    width: 500px;
    height: 500px;
}

@media (max-width: 820px) {
    .logo{
        width: 200px !important;
        height: 200px !important;
    }
  }

.logo-div{
    display: flex;
    width: 100%;
    justify-content: center;
}

.login{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.register{
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}



.are-you-registered{
    cursor: pointer;
}

.card-login{
    height: auto;
    justify-self: center;
    align-self: center;
    width: auto;
    padding: 1%;
}

@media (max-width: 800px) {
    .card-login{
        width: 70% !important;
    }
  }