.content-container{
display: flex;
flex-direction: column;
width:100%;
}

.date{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.ename{
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.owner{
    margin-left: 15px;
    font-size: 1.3em;
    margin-bottom: 0;
}

.guest-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: baseline;
    margin-bottom: 10px;
}

.ind-guest{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-left: 10px;
    flex-wrap: wrap;

}

#attending{
    margin-bottom: 0;
    margin-left: 15px;

}
