.content-container{
display: flex;
flex-direction: column;
width:100%;
}

.date-event{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}

@media (max-width: 820px) {
    .date-event{
      flex-direction: column;
      justify-content: flex-start;
      font-size: 1em;
    }
  }


.date-div{
display: flex;
flex-direction: row;
justify-content: space-between;
}

@media (max-width: 820px) {
    .date-div{
      flex-direction: column;
    }
  }



.ename{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
}

.owner{
    font-size: 1.3em;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
}

@media (max-width: 820px) {
    .owner{
        font-size: 4vw;
    }
  }

.ename-owner{
    display: flex;
    flex-direction: column;
}

.image{
    height: auto;
    min-height: 300px;
    object-fit: cover;
    width: auto;
}

@media (max-width: 820px) {
    .image{
        min-height: 0;
        object-fit: cover;
    }
  }

.guest-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: baseline;
    margin-bottom: 10px;
}

.ind-guest{
    display: flex;
    flex-direction: row;
    margin: 0;
    flex-wrap: wrap;

}

#attending{
    margin-bottom: 0;
}

.pending-activities{
    display: flex;
    flex-direction: row;
}

.pending-suggested2{
    margin-right: 5px;
    padding: .7%;
    background-color: green;
    color: white;
    border-radius: 3px;
}

.pending-suggested{
    margin-right: 5px;
    padding: .7%;
    background-color: red;
    color: white;
    border-radius: 3px;
}

.pending-voted2{
    margin-right: 5px;
    padding: .7%;
    background-color: green;
    color: white;
    border-radius: 3px;
}

.pending-voted{
    margin-right: 5px;
    padding: .7%;
    background-color: red;
    color: white;
    border-radius: 3px;
}


@media (max-width: 820px) {
    .event-card{
        width: 70% !important;
    }
  }

  @media (max-width: 820px) {
    .pending-voted, .pending-suggested, .pending-voted2, .pending-suggested2{
        font-size: 4vw;
    }
  }