.login-register-div{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-content: center;
}

.username-password{
    margin-bottom: 4px ;
}




